<!DOCTYPE html>
<html lang="en" class="no-js">
  <link rel="stylesheet" href="mylable.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>MyLable_for_mgmt</title>
	<header>
		
		<img src ="label.jpg" alt ="Изображение лейбла"  height="300" width="300" style="position:absolute;right:50px">
    
		<div class="intro"><h1>MyLable for Manager</h1></div>
	</header>
	<body>

    <div class = "mginfo">
    
    <h2>User info:<h2>
      <p>Менеджер лейбла, название лейбла,<br>
        В MyLable Вы можете создавать концерты<br>
        редактировать туры, а также расширять фан<br>
        базу артиста, вы можете продавать подписки<br>
        с эксклюзивным контентом, а также использо<br>
        вать MyLable как соц.сеть для общения с<br>
        лучшими слушателями<br>
      </p>

    </div> 
   </body>